body{
	background-color: grey;
}

@mixin media($width){
	@media screen and (max-width: $width){
	@content;
	}
}

@include media(1300px){
	body{
		background-color: grey;
	}
}

@include media(700px){
	body{
		background-color: blue;
	}
}

@include media(1000px){
	body{
		background-color: green;
	}
}