#{$selector}{
	width: 100px;
}

#{$selector1}{
	width: 20px;
}

#{$selector2}{
	width: 100px;
}

#{$selector3}{
	width: 20px;
}

#{$selector4}{
	width: 100px;
}

#{$selector5}{
	width: 20px;
}

#{$selector6}{
	width: 20px;
}